.tabs {
}
.tabs input[type=radio] {
  display: none; 
}
.tabs label {
  transition: background 0.4s ease-in-out, height 0.2s linear;
  display: inline-block;
  cursor: pointer;
  color: #2EBEB9;
  width: 20%;
  height: 3em;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: #FCFCFC;
  text-align: center;
  line-height: 3em; 
}
.tabs label:last-of-type {
  border-bottom: none; 
}
.tabs label:hover {
  background: #259692;
  color:#ffffff;
}
@media screen and (max-width: 1600px) {
.tabs label {
  width: 15%; } 
}
@media screen and (max-width: 900px) {
.tabs label {
  width: 20%; 
  } 
}
@media screen and (max-width: 600px) {
.tabs label {
  width: 100%;
  display: block;
  border-bottom: 2px solid #C7C6C4;
  border-radius: 0; 
} 
}
@media screen and (max-width: 600px) {
.tabs {
  margin: 0; 
} 
}

#tab1:checked + label, #tab2:checked + label, #tab3:checked + label, #tab4:checked + label,
#tab5:checked + label, #tab6:checked + label, #tab7:checked + label, #tab8:checked + label,
#tab9:checked + label, #tab10:checked + label, #tab11:checked + label, #tab12:checked + label,
#tab13:checked + label {
  background: #2ea1be;
  color: #FFFFFF; }

.tab-content {
  position:fixed;
  top: -9999px;
	/* top:auto; */
  padding: 10px; 
}

.tab-content-wrapper{
  background: #FCFCFC;
  border-top: #2EBEB9 5px solid;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  
}
@media screen and (max-width: 600px) {
.tab-content-wrapper, .tab1-content-wrapper {
  border: none;
  border-radius: 0; 
} 
}

#tab1:checked ~ .tab-content-wrapper #tab-content-1, #tab2:checked ~ .tab-content-wrapper #tab-content-2, 
#tab3:checked ~ .tab-content-wrapper #tab-content-3, #tab4:checked ~ .tab-content-wrapper #tab-content-4,
#tab5:checked ~ .tab-content-wrapper #tab-content-5, #tab6:checked ~ .tab-content-wrapper #tab-content-6,
#tab7:checked ~ .tab-content-wrapper #tab-content-7, #tab8:checked ~ .tab-content-wrapper #tab-content-8,
#tab9:checked ~ .tab-content-wrapper #tab-content-9, #tab10:checked ~ .tab-content-wrapper #tab-content-10,
#tab11:checked ~ .tab-content-wrapper #tab-content-11, #tab12:checked ~ .tab-content-wrapper #tab-content-12,
#tab13:checked ~ .tab-content-wrapper #tab-content-13 {
  /* position: relative; */
	position:initial;
  /* top: auto; */
 }
